@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  
  .form-control-sm {
    font-size: 12px !important;
    height: calc(1.7125rem + 5px) !important;
  }
  
  body {
    font-family: Poppins !important;
    font-size: 12px !important;
  }
  
  .form-control-lg {
    font-size: 12px !important;
  }
  
  .filter-body {
    display: none;
  }
  
  .nav-link.active {
    background-color: #6868AC !important;
    color: #ffffff !important;
  }
  
  fieldset,
  legend {
    all: revert;
  }
  
  fieldset {
    border: 1px solid #ccc;
  }
  
  tr.hide-table-padding td {
    padding: 0;
  }
  
  .expand-button {
    position: relative;
  }
  
  .accordion-toggle .expand-button:after {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
  }
  
  .accordion-toggle.collapsed .expand-button:after {
    content: '+';
  }
  
  .vscomp-toggle-button {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  
  .content-header {
    padding: 5px .5rem;
  }
  
  .img-container {
    height: 200px;
    cursor: pointer;
  }
  
  .img-container .default {
    max-width: 100%;
    max-height: 100%;
  }
  
  .restaurant-box {
    background: #5dade2;
  }
  
  .group-box {
    background: #28b463;
  }
  
  .outlet-box {
    background: #f4d03f;
  }
  
  .user-box {
    background: #e74c3c;
  }
  
  .purple-box {
    background: #9b59b6;
  }
  
  .info-box .info-box-number {
    display: block;
    margin-top: .25rem;
    font-weight: 800;
    color: #fff;
    font-size: 2rem;
  }
  
  .info-box .info-box-text {
    color: #fff;
    font-weight: 600;
  }
  
  .info-box .info-box-content {
    line-height: 1.5;
  }
  
  .restaurant-table table tbody tr,
  .restaurant-table table thead tr {
    margin-bottom: 10px;
    background: #fff;
  }
  
  .restaurant-table table th,
  .restaurant-table table tbody td {
    padding: 17px 12px;
    border-bottom: 10px solid #f4f6f9;
  
  }
  
  .res-view-icon {
    color: #2980b9;
  }
  
  .res-edit-icon {
    color: #2980b9;
  }
  
  .res-del-icon {
    color: #e74c3c;
  }
  
  .dtl-cover {
    height: 250px;
  }
  
  .dtl-profile div:first-child {
    width: 150px;
    height: 150px;
    margin-top: -100px;
  }
  
  .opening-blk {
    height: fit-content;
  }
  
  .outlet-blk img {
    height: 190px;
  }
  
  .custom-control-label::before {
    top: 0.12rem !important;
  }
  
  .custom-control-label::after {
    top: 0.12rem !important;
  }
  
  .outlet-checkbox {
    height: 75px;
  }
  
  .outlet-check .custom-control-label::before {
    top: 10px !important;
  }
  
  .outlet-check .custom-control-label::after {
    top: 10px !important;
  }
  
  .outlet-check.checked {
    border: 1px solid #6868AC;
    background-color: #E7E7FB !important;
  }
  
  .menu-check.checked {
    border: 1px solid #6868AC;
    background-color: #E7E7FB !important;
  }
  
  .outlet-img {
    width: 30px;
    height: 30px;
  }
  
  .participant-img {
    width: 50px;
    height: 50px;
  }
  
  .menu-img img {
    width: 100%;
    max-height: 70px;
  }
  
  
  /*.table {
    width: 100%;
    table-layout: fixed;
  }
  
  td,th {
    white-space: nowrap;
  }*/
  
  .action-width {
    width: 100px;
  }
  
  .img-container {
    height: 200px;
    cursor: pointer;
  }
  
  .img-container .default {
    max-width: 100%;
    max-height: 100%;
  }
  
  .restaurant-box {
    background: #5dade2;
  }
  
  .group-box {
    background: #28b463;
  }
  
  .outlet-box {
    background: #f4d03f;
  }
  
  .user-box {
    background: #e74c3c;
  }
  
  .info-box .info-box-number {
    display: block;
    margin-top: .25rem;
    font-weight: 800;
    color: #fff;
    font-size: 2rem;
  }
  
  .info-box .info-box-text {
    color: #fff;
    font-weight: 600;
  }
  
  .info-box .info-box-content {
    line-height: 1.5;
  }
  
  
  .restaurant-table table tbody tr,
  .restaurant-table table thead tr {
    margin-bottom: 10px;
    background: #fff;
  }
  
  .restaurant-table table th,
  .restaurant-table table tbody td {
    padding: 17px 12px;
    border-bottom: 10px solid #f4f6f9;
  
  }
  
  .res-view-icon {
    color: #2980b9;
  }
  
  .res-edit-icon {
    color: #2980b9;
  }
  
  .res-del-icon {
    color: #e74c3c;
  }
  
  .menu-container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .menu-cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .menu-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  .menu-card:not(:last-child) {
    margin-right: 10px;
  }
  
  .cuisines-active .card-title {
    color: #fff;
  }
  
  .cuisines-active .card-content {
    color: #fff;
  }
  
  .card-title {
    font-size: 13px;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    color: #484848;
  }
  
  .card-content {
    margin: 45px 0;
    max-width: 85%;
    color: #484848;
  }
  
  .menu-card a:hover,
  #all-menu-data a:hover,
  .sub-menu-item a:hover {
    text-decoration: none;
  }
  
  .menu-card .card-link-wrapper {
    margin-top: auto;
  }
  
  .menu-card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    transition: all 0.2s;
  }
  
  .menu-cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .menu-cards::-webkit-scrollbar-thumb,
  .menu-cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .menu-cards::-webkit-scrollbar-thumb {
    background: #a6acaf;
  }
  
  .menu-cards::-webkit-scrollbar-track {
    background: #edf2f4;
  }
  
  .menu-card img {
    width: 50px;
    height: 50px;
  }
  
  .cuisines-active {
    background-color: #6868AC;
    color: #fff;
  }
  
  .cuisine-container {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    color: #484848;
  }
  
  
  .menu-switch .custom-control-label::before {
    position: absolute;
    content: "";
    width: 40px !important;
    height: 19px;
    left: 2px;
    bottom: 4px;
    transition: .4s;
    box-shadow: none !important;
    border-radius: 30px !important;
  }
  
  .menu-switch .custom-control-label::after {
    top: calc(0.25rem + -1px) !important;
    left: calc(-2.25rem + 1px) !important;
    width: calc(1rem - -2px) !important;
    height: calc(1rem - -1px) !important;
    background-color: #adb5bd;
    border-radius: 0.5rem;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .menu-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    transform: translateX(1.2rem) !important;
  }
  
  .cuisine-container img {
    width: 100%;
    height: 150px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .action-width {
    width: 100px;
  }
  
  h4 {
    font-size: 1.2rem !important;
  }
  
  h5 {
    font-size: 1rem !important;
  }
  
  .pagination li a,
  .pagination li span {
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
  }
  
  .pagination li.active span {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .pagination li.disabled span {
    color: #999;
  }
  
  .el-radio.el-radio-sm,
  .el-checkbox.el-checkbox-sm,
  .el-switch.el-switch-sm {
    font-size: 85%;
  }
  
  .el-switch {
    display: inline-block;
    font-size: 100%;
    height: 1.6em;
    position: relative;
  }
  
  .el-switch>input[type="checkbox"]:checked+.el-switch-style {
    background-color: #20a0ff;
  }
  
  .el-switch .el-switch-style {
    height: 1.6em;
    left: 0;
    background: #C0CCDA;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    display: inline-block;
    position: relative;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 3em;
    cursor: pointer;
  }
  
  .el-switch>input[type="checkbox"]:checked+.el-switch-style:before {
    left: 50%;
  }
  
  .el-switch .el-switch-style:before {
    display: block;
    content: '';
    height: 1.4em;
    position: absolute;
    width: 1.4em;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 0.1em;
    top: 0.1em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-delete-btn {
    background-color: #f5b7b1;
    color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    margin-left: 35px;
  }
  
  .menu-delete-btn:hover {
    color: #e74c3c;
  }
  
  .select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  
  .select-btn .btn-text {
    font-size: 15px;
    font-weight: 400;
    color: #484848;
  }
  
  .select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
  }
  
  .list-items {
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .select-btn.open~.list-items {
    display: block;
  }
  
  .list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
  }
  
  .list-items .item:hover {
    background-color: #e7edfe;
  }
  
  .item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
  }
  
  .item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
  }
  
  .item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
  }
  
  .checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }
  
  .item.checked .check-icon {
    transform: scale(1);
  }
  
  .order-number {
    border-radius: 16px;
    width: 150px;
    background: rgba(104, 104, 172, .1);
    margin: 0 10px 20px 0;
    padding: 10px;
  }
  
  .order-detail-text {
    text-align: center;
    display: block;
    font-weight: 600;
  }
  
  .order-table table tr th,
  .order-borderless table tr th {
    text-align: left;
  }
  
  .order-table table tr td,
  .order-borderless table tr td {
    text-align: right;
  }
  
  .order-table .table th,
  .order-table .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    border-top: none !important;
  }
  
  .order-borderless .table th,
  .order-borderless .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-bottom: none !important;
    border-top: none !important;
  }
  
  .order-borderless .table tr.total-row th,
  .order-borderless .table tr.total-row td {
    border-top: 1px solid #dee2e6 !important;
  }
  
  .menu-detail-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .custom-is-invalid {
    height: 31px;
    border-radius: 0.25em;
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  
  .custom-is-invalid .vscomp-wrapper .vscomp-toggle-button {
    border: none;
  }
  
  .custom-is-invalid .vscomp-wrapper.focused .vscomp-toggle-button,
  .custom-is-invalid .vscomp-wrapper:focus .vscomp-toggle-button {
    box-shadow: none;
  }
  
  
  @media (min-width: 576px) {
    #deleteConfirmationModal .modal-dialog {
      max-width: 500px;
      margin: 10rem auto;
    }
  }
  
  @media (min-width: 500px) {
    .menu-card {
      flex-basis: calc(35% - 10px);
    }
  
    .menu-card:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .menu-card {
      flex-basis: calc(calc(75% / 3) - 20px);
    }
  
    .menu-card:not(:last-child) {
      margin-right: 15px;
    }
  }
  
  @media (min-width: 1100px) {
    .menu-card {
      flex-basis: calc(17% - 30px);
      height: 160px;
    }
  
    .menu-card:not(:last-child) {
      margin-right: 15px;
    }
  
  }
  
  .reservation-id {
    background-color: rgba(104, 104, 172, .1);
    border-radius: 0.9rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  
  .reservation-table td,
  .payment-table td {
    height: 35px;
  }
  
  .reservation-table,
  .payment-table,
  .order-info-table td {
    border-collapse: collapse;
  }
  
  .payment-tip {
    border-bottom: 1px solid #ccc;
  }
  
  .reservation-table tr {
    border-bottom: 1px solid #ccc;
  }
  
  .order-info-table tr.padding-row {
    height: 10px;
  }
  
  .order-info-table tr.border-row {
    border-bottom: 1px solid #ccc;
  }
  
  .button-size {
    font-size: 16px;
  }
  
  .btn {
    font-size: 12px !important;
    padding: 7px 30px !important;
  }
  
  .btn-cancel {
    background-color: #f1efef !important;
  }
  
  .btn-filter {
    background-color: #d3d3de !important;
  }
  
  .btn-filter:hover {
    color: #fff;
    background-color: #d3d3de;
    border-color: #d3d3de;
    box-shadow: none;
  }
  
  .btn-sidebar {
    border-radius: 0 4px 4px 0;
  }
  
  .card {
    margin: 0px 10px 18px 8px;
    border-radius: 3px;
  }
  
  .promotion-card .card,
  .promotion-lit.card {
    margin: 0;
  }
  
  .detail-label {
    font-size: 12px;
    margin: 13px 0px;
  }
  
  .detail-text {
    font-size: 12px;
    margin: 13px 0px;
    font-weight: bolder !important;
  }
  
  .icon-edit {
    padding: 8px 10px !important;
    background: linear-gradient(rgba(104, 104, 172, 0.2), rgba(104, 104, 172, 0.2)) !important;
    color: #6868AC !important;
  }
  
  .icon-destroy {
    padding: 8px 10px !important;
    background-color: rgba(231, 76, 60, 0.2) !important;
    color: #e74c3c !important;
  }
  
  .icon-success-btn {
    padding: 8px 10px !important;
    background-color: rgba(114, 231, 60, 0.2) !important;
    color: #28a745 !important;
  }
  
  .password.input-group-append {
    height: calc(1.7125rem + 5px) !important
  }
  
  .login-password.input-group-append {
    height: calc(1.5em + 1rem + 2px) !important
  }
  
  .check-container {
    max-height: 300px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    transition: all 0.2s;
  }
  
  .check-container::-webkit-scrollbar {
    height: 12px;
  }
  
  .check-container::-webkit-scrollbar-thumb,
  .check-container::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .check-container::-webkit-scrollbar-thumb {
    background: #a6acaf;
  }
  
  .check-container::-webkit-scrollbar-track {
    background: #edf2f4;
  }
  
  .rejectWidth{
    height: 100px !important;
  }
  
  td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }
  
  .rotate {
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .page-link.first,
  .page-link.last {
    padding: 0.2rem 0.7rem;
    font-size: 20px;
  }
  
  .page-link.previous,
  .page-link.next {
    padding: 0.2rem 0.8rem;
    font-size: 20px;
  }
  
  .openingday-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }
  
  .logout-btn {
    color: #c2c7d0;
  }
  
  .logout-btn:hover {
    color: #fff !important;
  }
  
  [class*=sidebar-dark-] {
    background-color: #141655;
  }
  